.list {
  flex: 1 1 0;
  padding-left: 14px;
  padding-right: 5px;

  &__header {
    margin-top: 14px;
    margin-right: 9px;
    padding-left: 7px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid $gray;
  }

  &__array {
    padding-right: 5px;
    height: 323px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &__item {
    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }
}
