* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $baseFontSize;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: $body;
  background: $background;
  -webkit-font-smoothig: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  min-width: auto;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hidden {
  display: none !important;
}

.button {
  background: #5188c1;
  min-width: 132px;
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  font-family: inherit;

  &:hover {
    background: #2b5279;
  }

  &--middle {
    padding: 10px 11px;
    font-weight: 400;
    color: #6bb2f2;
    background: #1d2a3a;
    border-radius: 2px;
    min-width: auto;
  }

  &--small {
    letter-spacing: normal;
    padding: 6px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
  }
}
